.header{
  color: darkblue;
  margin-top: 20px;
  font-weight: 550;
  display: flex;
  justify-content: space-between;
}
.coach{ 
  font-size: 20px;
  margin-left: 20px;
}
.table{
  width: 500px;
  margin-right: 20px;
  text-align: right;
}
a{
  text-decoration: none;
  margin-left: 20px;
}
.foto{
  display: block;
  width: 50vw;
  height: 400px;
  margin: 0 0 0 auto;
  position: relative;
  top: 90px;
}
.title{
  font-size: 50px;
}
.box{
  height: 150px;
  background-color: darkblue;
  width: 75vw;
}